/* Заголовок */

.header {
    position: relative;
}

.ikona_top {
    position: absolute;
    left: 42%;
    top: 90px;
    width: 16%;
}

.address_top {
    position: absolute;
    left: 10%;
    bottom: 5%;
    width: 30%;
    padding: 12px;
    background-color: white;
    opacity: 0.6;
    border-radius: 15px;
    border: solid 2px #913d14;
    font-weight: bold;
    font-family: Times New Roman, serif;
    font-style: italic;
    font-size: 16px;
}

/* Меню */
nav.neopalimy-navbar {
    background-color: sienna;
    border-top: solid 2px #913d14;
    border-bottom: solid 2px #913d14;
}

nav.neopalimy-navbar a:link, nav.neopalimy-navbar a:visited {
    color: gold;
}

nav.neopalimy-navbar a:hover, nav.neopalimy-navbar a:active {
    color: darkorange;
}

nav.neopalimy-navbar a.disabled {
    color: white;
}

/* Главная часть */
.content {
    border-left: solid 3px #913d14;
    border-right: solid 3px #913d14;
    padding: 10px;
}

/* Футер */
.footer {
    background-color: sienna;
    padding: 10px;
    color: white;
}

.footer a:link, .footer a:visited {
    color: gold;
}

.footer a:hover, .footer a:active {
    color: darkorange;
}