@import 'fonts.css';
@import 'sample.css';

/* Заголовок */
.header {
    position: relative;
}

/* Меню */
nav.neopalimy-navbar {
    background-color: sienna !important;
    border-top: solid 2px #913d14;
    border-bottom: solid 2px #913d14;
}

nav.neopalimy-navbar a:link, nav.neopalimy-navbar a:visited {
    color: gold !important;
}

nav.neopalimy-navbar a:hover, nav.neopalimy-navbar a:active {
    color: darkorange !important;
}

nav.neopalimy-navbar a.disabled {
    color: white !important;
}

nav.neopalimy-navbar a.dropdown-item:link, nav.neopalimy-navbar a.dropdown-item:visited {
    color: #913d14 !important;
}

nav.neopalimy-navbar a.dropdown-item:hover, nav.neopalimy-navbar a.dropdown-item:active {
    color: darkorange !important;
    background-color: white !important;
}

nav.neopalimy-navbar a.dropdown-item.disabled {
    color: darkgray !important;
}

.dropdown-menu, .dropdown-item {
    background-color: whitesmoke !important;
}

@media only screen and (min-width:992px) {
    .dropdown-menu .dropdown-menu {
        position: absolute;
        top: -0.5rem;
        left: 100%;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: .5rem 0;
        color: #212529 !important;
        text-align: left;
        list-style: none;
        background-color: whitesmoke !important;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
        display: block;
    }
    
    .dropdown-menu .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: middle;
        content: "";
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
        position: absolute;
        right: 5px;
        top: 12px;
    }
}

nav.neopalimy-navbar .navbar-toggler {
    border-color: rgb(255,215,0);
}

nav.neopalimy-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,215,0)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media only screen and (max-width:991px) {
    nav.neopalimy-navbar, nav.neopalimy-navbar a.dropdown-item {
        font-size: 1.4rem;
    }
}

/* Главная часть */
@media only screen and (max-width:991px) {
    .container {
        max-width: 100%;
    }
}

.content {
    border-left: solid 3px sienna;
    border-right: solid 3px sienna;
    padding: 10px;
    font-family: Arial, Verdana, sans-serif;
}

.content p {
    text-align: justify;
}

.content img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ponomar, .fedorovsk, .menaion, .monomakh, .cathisma, .oglavie, .fira, .pochaevsk, .triodion, .acathist, .shafarik, .shafarik3, .pomorsky-dropcaps, .indiction-dropcaps, .vertograd-dropcaps, .sample, .decoration {
    font-size: 2rem;
}

h1 {
    margin-bottom: 30px;
    color: #913d14;
}

h2 {
    margin-bottom: 30px;
    color: #913d14;
}

.news_date {
    background-color: sienna;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    font-size: 0.7rem;
}

.news_title a:link, .news_title a:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.news_title a:active, .news_title a:hover {
    color: gray;
    font-weight: bold;
    text-decoration: underline;
}

.bigfont {
    font-size: 1.4rem;
}

@media only screen and (max-width:991px) {
    .bigfont {
        font-size: 1.6em;
    }
}

/* Футер */
.footer {
    background-color: sienna;
    padding: 10px;
    color: white;
    font-size: small;
}

.footer a:link, .footer a:visited {
    color: gold;
}

.footer a:hover, .footer a:active {
    color: darkorange;
}

/* Navbar dropdown open on hover */
@media only screen and (min-width:992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    
    .dropdown:hover .dropdown-menu .dropdown-menu {
        display: none;
    }
    
    .dropdown:hover .dropdown-menu li:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        margin-top: 0;
    }
}