# REWRITE
 <IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /st-faddey-tver.ru/
RewriteRule ^images - [L]
RewriteRule ^admin - [L]

RewriteRule ^(.*)/$ $1 [R=301,L]

RewriteRule ^news/(.*) allnews/details.php?shortname=$1
RewriteRule ^news allnews/index.php
RewriteRule ^media/(.*) mediacenter/details.php?shortname=$1
RewriteRule ^media mediacenter/index.php
RewriteRule ^schedule schedule.php
RewriteRule ^theater theater.php
RewriteRule ^ustav ustav.php
RewriteRule ^sitemap.xml sitemap.php

RewriteRule ^([a-z0-9_\-]+)$ page.php?shortname=$1
</IfModule>