# REWRITE
 <IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /st-faddey-tver.ru/
RewriteRule ^images - [L]
RewriteRule ^admin - [L]

RewriteRule ^(.*)/$ $1 [R=301,L]

RewriteRule ^events/(.*) allevents/details.php?shortname=$1
RewriteRule ^events allevents/index.php
RewriteRule ^news/(.*) allnews/details.php?shortname=$1
RewriteRule ^news allnews/index.php

RewriteRule ^([a-z0-9_\-]+)$ page.php?shortname=$1
</IfModule>