@import '../../css/fonts.css';
@import '../../css/sample.css';

/* Главная часть */
.content {
    padding: 10px;
    font-family: Arial, Verdana, sans-serif;
}

.content img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.content p {
    text-align: justify;
}

.ponomar, .fedorovsk, .menaion, .monomakh, .cathisma, .oglavie, .fira, .pochaevsk, .triodion, .acathist, .shafarik, .shafarik3, .pomorsky-dropcaps, .indiction-dropcaps, .vertograd-dropcaps, .sample, .decoration {
    font-size: 2rem;
}

.news_date {
    background-color: sienna;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    font-size: 0.7rem;
}

.news_title a:link, .news_title a:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.news_title a:active, .news_title a:hover {
    color: gray;
    font-weight: bold;
    text-decoration: underline;
}

.bigfont {
    font-size: 1.4rem;
}

@media only screen and (max-width:991px) {
    .bigfont {
        font-size: 1.6em;
    }
}

.rtl {
    direction: rtl;
}

/* Всплывающее сообщение о копировании ссылки */
.clipboard_alert {
    position: absolute;
    left: 20px;
    top: 100%;
    z-index: 100;
    display: none;
}

/* Раскрывающееся меню */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* Виртуальная клавиатура */
form {
    position: relative;
}

.virtual_keyboard {
    width: 100%;
    background-color: lightgray;
    padding: 10px;
}

.vk_close {
    position: absolute;
    top: 10px;
    right: 10px;
}